.cardAndDelete {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  height: 45%;
  width: 100%;
  align-content: center;
  justify-content: flex-end;
}

.image {
  height: 40%;
  width: 45%;
  position: absolute;
  z-index: 1;
}


.savedTitleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 80%;
  z-index: 2; 
  /* width: 100%; */
  height: 80%;
  font-size: 1.2em;
  padding: 1%;
}
  


.savedTitle {
  height: fit-content;
  color: black;
  z-index: 3;
  width: 100%;
  background: linear-gradient(to bottom, #E1BDFC 0%, #E1BDFC 100%);
  background-repeat: repeat-x;
  background-size: 0px 0px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
}

    .savedTitle:hover {
      background-size: 100px 100px;
      /* text-decoration: white; */
    }


.remove {
  width: 1em;
  justify-self: flex-start;
  margin: 1%;
}

.more {
  text-decoration: none;
  color: black;
}