.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-content: center;
}

.image {
  height: 35%;
  width: 45%;
  position: absolute;
  z-index: 1;
}

.image::after {
  content:"";
  position: relative;
  opacity: 1%;
  z-index: -1;
}

.savedTitle {
  font-size: 2em;
  color: white;
  z-index: 2;
}