header {
  font-size: 1.1em;
  height: 17vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url('../../assets/green-background.jpg');
  background-size: 100% 100%;
  width:100vw;
}

.homeButton {
  display: flex;
  width: 95%;
  height: 5vh;
}

.quoteWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  height: 13vh;
  align-self: center;
  margin: 0;
}

.quote,
.author {
  margin: 0;
  font-size: .9em;
  width: 85%;
  align-self: center;
}



.link {
  background: linear-gradient(to bottom, #E1BDFC 0%, #E1BDFC 100%);
  background-repeat: repeat-x;
  background-size: 0px 0px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
  }

  .link:hover {
    background-size: 50px 50px;
    text-decoration:white;
  }


