.story {
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefae0;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 66vh;
  width: 80vw;
}

.sod {
  font-size: 1.7em;
  margin: 1%;
  width: 80vw;
}

.imgWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 60%;
  justify-content: flex-end;
  width: 80vw;
}

.newsImage {
  height: 40%;
  width: 80%;
  position: absolute;
  z-index: 1;
}

.titleWrapper {
  z-index: 2;
  background-color: white;
  opacity: 80%;
  max-width: 70%;
  height: auto;
  font-size: 1.5em;
  padding: 1%;
}

.storyTitle {
  color:black;
  z-index: 3;
}

.dateAndLabel {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 10%;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.description {
  align-self: center;
  margin: 0;
  margin-bottom: 0%;
  width: 95%;
  font-size: .9em;
}

.viewMore {
  height: 100%;
}

.navBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  padding: 1%;
  height: 9.5%;
}

.favorite {
  width: 3.6em;
  height: fit-content;
}

.favorite:hover {
  cursor: pointer;
}

.viewSaved {
  width: 3.6em;
}

span {
  height: 50%;
}

.spillAgain {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  font-size: small;
  font-weight: bolder;
}

.spillAgain:hover {
  color: #ffffff;
  background: #F5E16E;
  border-color: #F5E16E;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.label {
  background-color: #74BF49;
  color: white;
  height: 45%;
  padding: .9%;
  margin: 0;
}

.date {
  margin: 0;
}

@media screen and (min-width: 1250px) {
    .contentWrapper {
      align-self: center;
    }
    .newsImage {
      width: 48%;
      max-height: 40%;
    }

    .imgWrapper {
      width: 60%;
    }

    .dateAndLabel {
      width: 60%;
    }

    .description {
      width: 60%;
      font-size: .8em;
    }
}


@media screen and (min-width: 700px) and (max-width: 1250px) {

  .newsImage {
    width: 70%;
  }
  .imgWrapper {
    width: 88%;
  } 

  .dateAndLabel {
    width: 88%;
  }

  .description {
    width: 88%;
  }

  .newsImage {
    height: 40%;
  }
}

@media screen and (min-width: 350px) and (max-width:700px) {
  .newsImage {
    max-height: 30%;
    align-self: center;
  }

  .storyTitle {
    font-size: smaller;
    margin: 0;
  }

  .navBtns {
    width: 90%;
  }

  .imgWrapper {
    height: 40%;
  }

  .dateAndLabel {
    font-size: smaller;
  }

  .navBtns {
    width: 70%;
  }

}



