.story {
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefae0;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 66vh;
  width: 80vw;
}

.sod {
  font-size: 1.8em;
  margin: 0%;
  width: 80vw;
}

.imgWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 60%;
  justify-content: flex-end;
  width: 80vw;
}

.newsImage {
  height: 40%;
  width: 80%;
  position: absolute;
  z-index: 1;
}

.titleWrapper {
  z-index: 2;
  background-color: white;
  opacity: 80%;
  max-width: 70%;
  height: auto;
  font-size: 1.5em;
  padding: 1%;
}

.storyTitle {
  color:black;
  z-index: 3;
}

.dateAndLabel {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 10%;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.description {
  align-self: center;
  margin: 0;
  margin-bottom: 0%;
  width: 95%;
  font-size: .9em;
}

.viewMore {
  height: 100%;
}

.navBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  padding: 1%;
  height: 10%;
}

.favorite {
  width: 3em;
  height: fit-content;
}

.viewSaved {
  width: 3em;
}

span {
  height: 50%;
}

.spillAgain {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949 !important;
  display: inline-block;
}

.spillAgain:hover {
  color: #ffffff !important;
  background: #F5E16E;
  border-color: #F5E16E !important;
  transition: all 0.4s ease 0s;
}

.label {
  background-color: #74BF49;
  color: white;
  height: 45%;
  padding: .9%;
  margin: 0;
}

.date {
  margin: 0;
}

.loading {
  background-color: #fefae0;
  height: 100vh;
}